

.copy-btn {
    height: 40px;
    width: 165px;
    background-color: white;
    border: 1px solid #D4D6D5;
    border-radius: 8px;
    padding-left: 66px;
    padding-right: 66px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.call-btn {
    height: 40px;
    width: 165px;
    background-color: #00A63E;
    border: none;
    border-radius: 8px;
    color: white;
    padding-left: 66px;
    padding-right: 66px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-right: 30px;
}

.history-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 16px;
    margin-top: 8px;
    padding: 8px;
    width: 200px;
    height: 80px;
    border-radius: 8px;
    background: var(--Surface, rgba(250, 250, 250, 1));
}

.call-btn:hover {
    background-color: gray;
}
.copy-btn:hover {
    background-color: green;
    color: white;
}